@charset "utf-8";

/*ν—¤λ”*/
#header{
    height:100px;
    line-height:100px;
}
#header h1{
    float:left;
}
#header h1 a{
}

.gnb{
    display:inline-block;
}
.gnb li{
    float:left;
    padding:0 25px;
    font-weight:bold;
}
.gnb li a{}
.gnb li a img{
    margin:0 10px;
    margin-bottom:-3px;
}
.util{
    float:right;
}
.util li{
    float:left;
    padding-left:15px;
    font-size: 12px;
}
.util li a{}
.util li a img{
    vertical-align:middle;
    margin-left:5px;
}


/*ν‘Έν„°*/
#footer{
    border-top:1px solid #000;
    
}

.fTop{
    height:60px;
    line-height:60px;
}

.fMenu{
    display:inline-block;
}
.fMenu li{
    float:left;
    margin-right:20px;
    font-size:15px;
}
.fMenu li a{}

.fSns{
    float:right;
}
.fSns li{
    float:left;
    margin-left:15px;
}
.fSns li a{
    display:block;
}
.fSns li a img{
    vertical-align:middle;
}

.fBottom{
    padding:20px 0;
    position: relative;
}
.fLogo{
    float:left;
    padding:30px 0; 
    padding-right:30px;
}
.fLogo img{}

.fInfo{
    margin-bottom:20px;
}
.fInfo span{
    font-size:12px;
    margin-right:20px;
}


.copy{
    font-size:11px;
}

.kkcp{
    position:absolute;
    right:0;
    top:20px;
    width:300px;
}
.kkcp h4{
    float:left;
}
.kkcp h4 img{
    margin-right:10px;
}
.kkcp p{
    font-size:13px;
    font-weight:bold;
}
.kkcp span{
    font-size:11px;
}


